.App {
  display: grid;
  place-items: center;
}

table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid black;
}

td {
  text-align: center;
  width: calc(100%);
  height: calc(100%);
}

#grid-container {
  width: 50%;
}

.hidden {
  background-color: black;
}

.revealed {
  background-color: white;
}

.flagged {
  background-color: red;
}
