.App {
  display: grid;
  place-items: center;
}

#grid-container {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: auto;
  row-gap: 0px;
}

#grid-container div {
  min-width: 30px;
  min-height: 30px;
  border: 2px solid goldenrod;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 25px;
}

.hidden {
  background-color: grey;
}

.revealed {
  background-color: white;
}

.flagged {
  background-color: red;
}

.color-0 {
  color: white;
}
.color-1 {
  color: blue;
}
.color-2 {
  color: green;
}
.color-3 {
  color: red;
}
.color-4 {
  color: darkblue;
}
.color-5 {
  color: darkred;
}
.color-6 {
  color: aquamarine;
}
.color-7 {
  color: purple;
}
.color-8 {
  color: grey;
}
/* Number colors 
* 1 -> blue
* 2 -> green
* 3 -> red
* 4 -> dark blue
* 5 -> dark red
* 6 -> aquamarine?
* 7 -> purple
* 8 -> grey
* */
