.App {
  display: grid;
  place-items: center;
}

table {
  table-layout: fixed;
  width: 100%;
  /* border-collapse: collapse; */
  border: 1px solid black;
}

td {
  text-align: center;
  width: calc(100%);
  height: calc(100%);
  min-width: 1rem;
  min-height: 1rem;
  border: 2px solid maroon;
}

#grid-container {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: auto;
}

.hidden {
  background-color: grey;
}

.revealed {
  background-color: white;
}

.flagged {
  background-color: red;
}

/* Number colors 
* 1 -> blue
* 2 -> green
* 3 -> red
* 4 -> dark blue
* 5 -> dark red
* 6 -> aquamarine?
* 7 -> purple
* 8 -> grey
* */
